*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* ----------first page------------------ */

.front{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #2D25A0;
justify-content: center;
}
.front .title{
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 169px;
    color: #ffffff;
}
.front .title h1{
    font-size: 50px;
    line-height: 70px;
}
.front .title .button{
    margin-top: 27px;
}
.front .title .button a{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
    text-decoration: none;
    
}
.front .banner{
    height: 438px;
    width: 556px;
    margin-right:140px;
    margin-top: 153px;
    margin-left:102px;
    margin-bottom: 86px;
}

.front .banner img{
    height: 100%;
    width: 100%;
}
.front:hover img{
    transform: scale(1.2);
    transition: transform 2s;
}
.front:hover .title{
    transform: scale(1.2);
    transition: transform 2s;
}


/* ------Responsive first page for mobile--------- */

@media screen and (max-width:770px){
.front{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .front .title{
        width: 90%;
    margin: 4%;
    height: 90%;
   }
   .front .banner{
       width: 95%;
    height:90% ;

  margin: 4%;
   }
   .front:hover img{
    transform: scale(1.1);
    transition: transform 2s;
}
.front:hover .title{
    transform: scale(1.1);
    transition: transform 2s;
}
}


/* -------players sections-------- */



.players-container{
    background-color: #f0fff0;
    padding-top: 70px;
    padding-bottom: 165px;
}
.players{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
margin-left: 180px;
margin-right: 210px;
grid-row-gap: 27px;
grid-column-gap: 30px;



}
.players .player{
    display: flex;
    width: 330px;
    height: 474px;
    background-color: white;
   
    flex-direction: column;
    box-shadow: 0 0 15px -6px;
  
   
}
.players .player img{
width: 310px;
height:60%;
margin: 0 auto;
margin:10px 10px 10px 10px;

}
.players .player .info{
    margin:0px 10px 10px 10px;
}
.players .player .info p{
    font-size: 13px;
    color: rgb(129, 139, 150);
}



/* ---------responsive players section for mobile-------- */



@media screen and (max-width:770px){
    .players-container{
        background-color: #f0fff0;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .players{
   
    grid-template-columns: repeat(1, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    
    
    
    }
    .players .player{
     
        width: 100%;
        height: 100%;
         
    }
    .players .player img{
    width: 95%;
    height:60%;
 
    }
}

/* -------------------News Section------------------- */



.title-text{
    text-align: center;
    padding-bottom: 70px;

}
.title-text h1{
    margin: auto;
    font-size: 40px;
    color: #FE7079;
    font-weight: bold;
    display: inline-block;

}
#news{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.news-box{
    width:90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.news-img{
    flex-basis: 30%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color:#fff;
    position: relative;
}
.news-img img{
    width: 100%;
    border-radius: 7px;

}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor:pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#FE7079);
opacity: 0;
transition: 1s;
}
.news-img:hover .overlay{
    opacity: 1;
}
.news-desc{
    width: 90%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translatex(-50%);
   opacity: 0;
   transition: 2s;
}    
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
    
}
.news-desc p{
    font-size: 14px;

}
.news-img:hover .news-desc{
    bottom:40%;
opacity: 1;
}



/* ---------- responsive News Section for mobile------- */



@media screen and (max-width:770px){
    .news-img{
    flex-basis: 100%;
    margin-bottom:  30px ;
   }
   .news-desc p
   {
       font-size:12px;
   }
   hr{
       margin: 5px auto;
   }
   .news-img:hover .news-desc{
    bottom:20% !important;
}
}

/* ---------Supporter Reaction Section----------- */


#testimonial{
    width:100% ;
    padding-top: 70px 0;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 2px #FE7079;
    cursor: pointer;
}
.testimonial-col p{
    font-size: 14px;

}
    .user{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    .user img{
        width: 40px;
        margin-right: 20px;
        border-radius: 3px;
    }
    .user-info .fab{
        margin-left:10px ;
        color:#27c0ff;
        font-size: 20px;
    }
    .user-info small{
        color: #009688;
    }
    .testimonial-col:hover {
transform: scale(1.2);
transition: transform 2s;
    }

    /* ---------------Responsive Supporter Reaction for mobile----------------- */



    @media screen and (max-width:770px){
        .testimonial-col{
            flex-basis: 100%;
            
        }
    }

/* ----------------------footer----------------------- */


.logo {
    display: flex;
margin-bottom: 63px;
margin-top: 158px;
align-items: center;
justify-content: center;
flex-direction: column;
}
.logo .img img{
    width:480px;
    height:100px;
}
footer .icon .fab{
    background-color: lightsteelblue;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}


/* ------ Responsive footer for mobile-------------*/



@media screen and (max-width:770px){
    .logo {
        
    margin-right: 5%;  
    margin-left: 5%;
    margin-bottom: 30px;
    margin-top: 70px;
    width: 90%;
    
    }
    .logo .img img{
        width:90%;
        
    }
}